//mixins
@mixin font{
  font-family: "ArialRegular";
  font-size: 14px;
  line-height: 22px;
}

@mixin display {
  display: flex;
  justify-content: space-between;
}

@mixin grids {
  grid-template-columns: repeat(12,1fr);
}

@mixin grids_col{
  grid-column:3 / 11;
}

//variables
$bg_color1: #767676;
$bg_color2: #dcdcdc;
$font_color1: #ffffff;
$font_color2: #777777;
$font_w4: 400;
$font_w7: 700;
$mrgn: 20px;

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
  url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: $font_w4;
}

body{
  margin: 0;
  padding: 0;
  @include display;
  flex-direction: column;
  min-height: 1200px;
}

hr{
  max-width: 960px;
  height: 1px;
  background-color: $bg_color1;
  margin: $mrgn auto;
}
.container{
  padding-right: 17px;
  padding-left:17px;
  width: 960px;
  margin: 0 auto;
}
  .head{
    @include grids;
    margin-top: 25px;
    &_content{
      @include grids_col;
      display: grid;
      grid-template-columns: repeat(48,$mrgn);
      img{
        height: 108px;
        grid-column: 1 / 7;
      }
      &_center{
        background-color: $bg_color1;
        height: 108px;
        grid-column: 8 / 19;
      }
      &_right{
        grid-column: 20 / 49;
        background-color: $bg_color1;
        height: 108px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .info{
          margin-right: 22px;
          p{
            @include font;
            color: $font_color1;
            margin: 0;
          }
          .email,.url{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .content{
    @include grids;
    &_place{
      @include grids_col;
      @include display;
      .left{
        @include display;
        flex-direction: column;
        &_top{
          background-color: $bg_color1;
          max-width: 184px;
          .list{
            list-style: none;
            color: $font_color1;
            margin: 0;
            padding: 19px 32px 17px 13px;
            &_item{
              font-weight: $font_w4;
              @include font;
            }
            .list_item:first-child{
              @include font;
              font-weight: $font_w7;
            }
          }
        }
        &_bottom{
          width: 184px;
          height: 134px;
        }
      }
      .center{
        margin-left: $mrgn;
        display: flex;
        flex-direction: column;
        .top{
          @include font;
          background-color: $bg_color2;
          color: $font_color2;
          padding: $mrgn 70px $mrgn $mrgn;
          .heading{
            font-weight: $font_w7;
          }
          .list{
            &_item{
              span{
                font-weight: $font_w7;
              }
            }
          }
        }
        .gallery{
          display: flex;
          flex-wrap: wrap;
          img{
            margin-top: $mrgn;
            width:131px;
            height: 150px;
          }
          img:not(:nth-child(5n+1)){
            margin-left: 25px;
          }
        }
        .bottom{
          @include display;
          margin-top: $mrgn;
          .block{
            width: 368px;
            box-sizing: border-box;
            @include font;
            color: $font_color2;
            font-weight: $font_w4;
          }
          &_left{
            background-color: $bg_color2;
            padding: 0px $mrgn 30px $mrgn;
          }
          &_right{
            background-color: $bg_color2;
            margin-left: $mrgn;
            padding-left: $mrgn;
            padding-right: $mrgn;
          }
        }
      }
    }
  }
  .footer{
    @include grids;
    .container{
      @include grids_col;
      .footer_content{
        display: grid;
        grid-template-columns: repeat(3 , 320px);
        grid-template-rows: repeat(6 , 1fr);
        margin-bottom: 25px;
        @include font;
        color: $font_color1;
        .left{
          grid-row: 1 / 7;
          grid-column: 1 / 2;
          display: flex;
          background-color: $bg_color1;
          column-count: 2;
          &_list{
            margin: 0;
            column-count: 2;
            column-gap: 75px;
            padding: 16px 90px 18px 35px;
            list-style: none;
            box-sizing: border-box;
          }
        }
        .center{
          grid-column: 2 / 3;
          grid-row: 1 / 7;
          @include font;
          color: $font_color1;
          background-color: $bg_color1;
          margin-left: $mrgn;
          .list{
            margin: 0;
            list-style-type: square;
            padding: 16px 52px 18px 37px;
          }
        }
        .right{
          grid-row: 1 / 7;
          margin-left: $mrgn;
          grid-column: 3 / 4;
          display: grid;
          grid-template-rows: (6 , 1fr);
          .top{
            grid-row: 1 / 4;
            width: 300px;
            min-height: 80px;
            background-color: $bg_color1;
          }
          .bottom{
            grid-row: 4 / 7;
            padding: 0;
            margin-top: 30px;
            width: 300px;
            height: 80px;
          }
        }
      }
    }
  }
